.container-cards{
    display: flex;
}   

ul{
    display: flex;        
    flex-wrap: wrap;
}

.card{
    flex: 1;
    justify-content: center;    
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.895);
    margin: 10px;
    text-align: center;

    h2{
        font-family: $font-1;
        color: white;
        font-size: 0.8rem;
        margin: 10px;
    }
    

    img{
        max-width: 200px;
        margin: 0 auto;
    }

    .average{
        display: flex; 
        flex: 1;
        justify-content: start;       
        color: white;
        font-family: $font-1;
        background-color: $color-1;        
        align-items: center;
        border-radius: 10px;
        
    }

    .note{
        color: yellow;
        display: inline;
        padding-right: 5px;
        
    }
}