@font-face {
    font-family: 'font-1';
    src: url(../assets/fonts/ChelseaMarket-Regular.ttf);
}

@font-face {
    font-family: 'font-2';
    src: url(../assets/fonts/ConcertOne-Regular.ttf);
}

$font-1: 'font-1', sans-serif;
$font-2: 'font-2', sans-serif;

$color-1: #f49f3f;
$color-2: rgb(96, 96, 96);
$color-3: #dedfe1;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


li {
    list-style-type: none;
}

body{
    background: url(../assets/img/last-of-us-ellie-tess.jpg) center/cover fixed;
}

